Go to this path: /Users/lamnguyen/Documents/Lam_NguyeN_cs345
Read all the files to understand the environment
Here is the requirements:
1. Read all the the files for setting and setting menu pop up.
2. Find the bug that enemies can be able to attack even the menu pop up.
3. The Castle HP going down when enemies approach, not moving but can still attack the Castle.
4. Tell me where is the bug but do not fix until I say so.

Check off all the requirements after you done. 