Go into this path /Users/lamnguyen/Documents/Lam_NguyeN_cs345
Read all the files and folder
Check off after you done the requirements.
Here is the requirements:
1. I just added the image call Start menu2.jpg in assets folder. 
2. Add it to start menu.
3. Move the Castle Rush, Start button, Settings to the left.